.container {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
    background-color: #f3f3f3;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    font-size: 2.8rem;
    font-weight: bold;
    color: #0077ff;
    margin-bottom: 1rem;
}

.memberList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
}


.memberCard {
    background: white;
    padding: 20px;
    width: 200px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.memberCard:hover {
    transform: scale(1.05);
}

.memberPhoto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.memberName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.memberRole,
.memberRM {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.link {
    display: block;
    color: #0077ff; 
    text-decoration: none;
    margin-top: 5px;
    font-weight: bold;
    transition: color 0.2s ease;
}

.link:hover {
    color: #0055aa;
    text-decoration: underline;
}


.footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    background-color: #f3f3f3;
    font-size: 0.9rem;
    color: #666;
    border-top: 1px solid #ddd;
}
